body {
    font-weight: 500;
    font-family: "Yu Gothic";
    margin: 0;
}

button {
    border: 1px solid hsl(200, 75%, 50%);
    background-color: hsl(0, 100%, 100%);
    padding: 0.5em 2em;
}
input[type="radio"] {
    display:none;
}
.selectedChannel {
    font-weight: 700;
    color: hsl(80, 90%, 40%);
    border-bottom: 1px solid hsla(200, 75%, 50%);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: 10%;
    background-color: hsl(80, 75%, 70%)
}

header button {
    border: 1px solid hsla(200, 75%, 50%);
    background-color: hsla(0, 100%, 100%);
    padding: 0.2em 1em;
    margin: 0.3em;
}

main {
    margin-top: 0.2em;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* flex-direction: column;
    align-items: center; */
}

main > nav {
    width: 30%;
    margin-left: 1em;
}

main > nav > h4 {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left: 0;
}

main > article {
    width: 70%;
}

main article input[type="text"] {
    height: 2em;
}

.chat-item .item-time {
    font-size: 0.7em;
}

.chat-item p {
    margin-left: 1em;
}

